@charset "utf-8";

$font-dir: "#{$assets-dir}/fonts/";

@font-face {
	font-family: 'Silkscreen';
	src: url('#{$font-dir}/Silkscreen-Bold/Silkscreen-Bold.eot');
	src: url('#{$font-dir}/Silkscreen-Bold/Silkscreen-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-dir}/Silkscreen-Bold/Silkscreen-Bold.woff') format('woff'),
		url('#{$font-dir}/Silkscreen-Bold/Silkscreen-Bold.ttf') format('truetype'),
		url('#{$font-dir}/Silkscreen-Bold/Silkscreen-Bold.svg#Silkscreen-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('#{$font-dir}/BebasNeueBold/BebasNeueBold.eot');
	src: url('#{$font-dir}/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-dir}/BebasNeueBold/BebasNeueBold.woff') format('woff'),
		url('#{$font-dir}/BebasNeueBold/BebasNeueBold.ttf') format('truetype'),
		url('#{$font-dir}/BebasNeueBold/BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$font-dir}/Lato-Regular/Lato-Regular.eot');
	src: url('#{$font-dir}/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$font-dir}/Lato-Regular/Lato-Regular.woff') format('woff'),
		url('#{$font-dir}/Lato-Regular/Lato-Regular.ttf') format('truetype'),
		url('#{$font-dir}/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
