@charset "utf-8";

@import "vars";
@import "fonts";
@import "columns";

* {
    padding: 0;
    margin: 0;

    font-family: $font-paragraph;
    color: $color-white;
}

body {
    background-color: $color-black;
}

h1, h2 {
    font-family: $font-title;
}

h3, h4 {
    font-family: $font-heading;
}
