@charset "utf-8";

$color-white: #FFFFFF;
$color-gray: #525252;
$color-black: #000000;
$color-rgd-blue: #107593;
$color-rgd-blue-dark: #0E6984;

$font-paragraph: 'Lato';
$font-heading: 'Bebas Neue';
$font-title: 'Silkscreen';

$content-max-width: 60em;
