@charset "utf-8";

$color-white: #FFFFFF;
$color-gray: #ADADAD;
$color-black: #000000;
$color-rgd-blue: #107593;
$color-rgd-blue-dark: #0E6984;
$color-rgd-red: #BF2026;

$font-paragraph: 'Lato';
$font-heading: 'Bebas Neue';
$font-title: 'Silkscreen';

$content-max-width: 60em;

$transition-duration: .2s;

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}
