@charset "utf-8";

$border-style: 2px solid $color-white;

.header {
    background-color: $color-black;
    border-bottom: $border-style;
    padding: 20px;
    text-align: center;
}

.showcase {
    background-color: $color-rgd-blue;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, $color-rgd-blue-dark 35px, $color-rgd-blue-dark 70px);
    min-height: 50vh;

    .game-card {
        padding: 20px;

        .container {
            padding: 20px;

            @include transition($transition-duration);
            outline: 2px solid rgba(1, 1, 1, 0);
            background-color: rgba(1, 1, 1, 0);

            img {
                width: 100%;
            }

            &:hover {
                cursor: pointer;

                @include transition($transition-duration);
                outline: $border-style;
                background-color: rgba(1, 1, 1, 0.5);
            }
        }
    }
}

.footer {
    background-color: $color-black;
    border-top: $border-style;

    .row {

        & > div {
            padding: 20px;
        }
    }

    .social {

        ul {
            list-style: none;
            width: 100%;

            li {
                display: inline-block;
                padding: 5px;
                width: 30%;

                @include transition($transition-duration);
                outline: 2px solid rgba(1, 1, 1, 0);

                &:hover {
                    cursor: pointer;

                    @include transition($transition-duration);
                    outline: $border-style;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}
