@charset "utf-8";

.header {
    background-color: $color-black;
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: $color-black;

    & > div {
        padding: 20px;
    }
}
